<ul>
	<li>Om reglene:
		<ul>
			<li>Reglene er beskrevet hos <a href='http://toll.no/no/handle-i-utlandet/alkohol-og-tobakkskvote/kvote/'>Toll- og avgiftsdirektoratet</a>.</li>
			<li>Reglenes hjemmel finner du i <a href='https://lovdata.no/dokument/SF/forskrift/2008-12-17-1502'>tollforskriften</a>.</li>
		</ul>
	</li>
	<li>Om appen:
		<ul>
			<li>Appen kommuniserer ingen data fra din enhet under bruk (med unntak av reklame- og analyseinformasjon for Google).</li>
			<li>Appen fungerer offline (hvis du først har besøkt den på enheten du har tenkt å bruke den fra).</li>
			<li>Kildekoden er tilgjengelig på <a href="https://github.com/olabaloo/tollkvote">https://github.com/olabaloo/tollkvote</a>.</li>
			<li>Appen er laget av Ola Imerslund.</li>
		</ul>
	</li>
</ul>

<footer>
</footer>