#page {
	margin-top: 80px;
}

.amount {
	min-width: 2em;
	display: inline-block;
	text-align: right;
}

.size {
	min-width: 2em;
	display: inline-block;
}

.added {
	width: 2em;
	text-align: center;
}

.amounts * { 
	vertical-align: top;
}

.subsidedAmount { 
	display: inline-block; 
	width: 120px; 
}